extends ../common/layout

block content
  .error
    .row
      .col-xs-3(style="text-align:right;") 4
      .col-xs-6
        img.img-responsive.center-block(src="/img/lucky404.gif")
      .col-xs-3(style="text-align:left;") 4
    .row
      .col-xs-12(style="text-align:center;")
        h2 DERP NOT FOUND
