extends ../common/layout

block content

	.row.hidden-sm.hidden-xs
		.col-md-12.well.well-sm
			h1
				i.fa.fa-train
				| &nbsp;Trains
			p Run trains over the interwebs!
	.row
		.col-md-4
			include ./webcam
			include ./trackcontrols
		.col-md-4
			include ./lines
		.col-md-4
			include ./console

block body_scripts
	script(language="javascript", src="/js/trains.js")
