doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Trains Over the Interwebs | #{title}
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='shortcut icon', type='image/x-icon', href='http://www.gravatar.com/avatar/e074077712f4305fe474777ed7ab333e?s=16')
		link(rel='apple-touch-icon', type='image/x-icon', href='http://www.gravatar.com/avatar/e074077712f4305fe474777ed7ab333e?s=16')
		link(rel='apple-touch-icon', sizes='72x72', type='image/x-icon', href='http://www.gravatar.com/avatar/e074077712f4305fe474777ed7ab333e?s=72')
		link(rel='apple-touch-icon', sizes='114x114', type='image/x-icon', href='http://www.gravatar.com/avatar/e074077712f4305fe474777ed7ab333e?s=114')
		link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet/less', type='text/css', href='/stylesheets/main.less')
		link(rel='stylesheet', type='text/css', href='/components/font-awesome/css/font-awesome.min.css')

		block head_css
		script(language='javascript', src='/components/jquery/dist/jquery.min.js')
		script(language='javascript', src='/components/less/dist/less.min.js')
		block head_scripts
	body

		.container
			block content

			footer
				small &copy; Chad P Francis

		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		block body_scripts
